div{
    width: 200px;
    height: 200px;
    background-color: red;
    text-align: center;
    color: white;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
}